.board {
    display: grid;
    grid-template-columns: 3em repeat(8, 1fr) 3em;
    grid-template-rows: 3em repeat(8, 1fr) 3em;
    align-items: center;

    height: 46rem;
    width: 46rem;
    margin: 2em auto;
    padding: 2em;
    background-color: #DEB887;
}

.col-header {
    text-align: center;
}

.row-header {
    text-align: center;
}