.board {
    display: grid;
    grid-template-columns: 3em repeat(8, 1fr) 3em;
    grid-template-rows: 3em repeat(8, 1fr) 3em;
    height: 46rem;
    width: 46rem;
    margin: 2 em;
    padding: 2em;
    background-color: #DEB887;
}

.top-row {
    display: flex;
    justify-content: space-between;
    grid-column-start: 2;
    grid-column-end: 9;
}

.bottom-row {
    display: flex;
    justify-content: space-between;
    grid-column-start: 2;
    grid-column-end: 9;
}

.row {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 10;
    justify-content: space-between;
}